.page {
    padding: 5% 20%;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav a {
    padding: .5rem;
    margin: 1rem;
}

a {
    font-weight: bold;
}

a:link {
    text-decoration: none;
}

.highlight {
    background-color: #ddd;
    border-radius: 3px;
    box-shadow: 4px 4px 5px -3px rgba(0,0,0,0.4);
    display: inline-block;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .3s ease;
    z-index: -1;
}
